
html {
    /* change the root/parent font size will change the rem unit for children */
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/* ROOT EM  */



.wrapper {
    display: flex;
    justify-content: space-between;
    border: 0.2rem solid black;
    padding: 10em;
    margin: calc(.25=10em);
}


.demo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px;
}

img {
    width: 30rem;
    border-radius: 30px;
}

@media (width<1200px) {
    .demo{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (width<800px) {
    .demo{
        flex-direction: row;
        align-items: flex-start;
    }
    img{
        width: 150px;
    }
}